{#
/**
 * @file
 * Theme override to display an image media item with WA-compliant description.
 * ~ When field_aria_description has value, this template:
 * ~~ Adds aria-describedby="description-[MID]" to field_media_image <img> tag.
 * ~~ Renders field_aria_description inside div#description-[MID].sr-only.
 * See cwd_base/media/media.html.twig for available variables and other info.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{{ title_suffix.contextual_links }}
{% if content %}

  {% if media.field_aria_description.0.value -%}
    {% if media.field_media_image.0.value -%}

      {####### variable setup #######}
      {% set media_id = media.mid.0.value %}
        {% set describedby = 'description-' ~ media_id %}

        {% set compleximg_alt = media.field_media_image[0].alt ?? '' %}
        {% set compleximg_url = media.field_media_image.entity.uri.value %}
        {% if content.field_media_image[0]['#image_style'] %}
          {# If the current view mode uses an image style, use that image style. #}
          {% set style_name = content.field_media_image[0]['#image_style'] %}
          {% set compleximg_url = file_url(compleximg_url|image_style(style_name)) %}
        {% else -%}
          {% set compleximg_url = file_url(compleximg_url) %}
        {%- endif %}

      {####### output #######}
      <img src="{{ compleximg_url }}" alt="{{ compleximg_alt }}" aria-describedby="{{ describedby }}" />
      <div id="description-{{ media_id }}" class="sr-only">
        {{ media.field_aria_description|view }}
      </div>

      {# And, "just in case"... #}
      {{ content|without('field_media_image', 'field_aria_description') }}

    {% endif %}
  {% else -%}
    {{ content }}
  {%- endif %}

{% endif %}