{#
/**
 * @file
 * Theme override to display an image media item with WA-compliant description.
 *
 * In addition to mods in cwd_base/media/media.html.twig:
 * ~ When field_aria_description has value, this template:
 * ~~ Adds aria-describedby="description-[MID]" to field_media_image <img> tag.
 * ~~ Renders field_aria_description inside div#description-[MID].sr-only.
 * See cwd_base/media/media.html.twig for available variables and other info.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{{ title_suffix.contextual_links }}
<div{{ attributes }}>

  {% if media.field_aria_description.0.value -%}
    {% if media.field_media_image.0.value -%}

      {####### variable setup #######}
      {% set describedby = 'description-' ~ media.mid.0.value %}
      {% set compleximg_alt = media.field_media_image[0].alt ?? '' %}
      {% set compleximg_url = media|file_uri %}
      {% set style_name = content.field_media_image[0]['#image_style']|default('') %}

      {####### output #######}
      {{ drupal_image(compleximg_url, style_name, {alt: compleximg_alt, 'aria-describedby': describedby}) }}
      <div id="{{ describedby }}" class="sr-only">
        {{ media.field_aria_description|view }}
      </div>

      {# And, "just in case"... #}
      {{ content|without('field_media_image', 'field_aria_description') }}

    {% endif %}
  {% else -%}
    {{ content }}
  {%- endif %}

</div>
