{#
/**
 * @file
 * Theme override to display a block.
 * ~ Render a block with a more button in the "header-with-button" pattern.
 * ~ Allow additional classes from including template.
 * ~ Use "include ... with" in your block template to call this template and
 * ~ specify the URL for the more link.
 * See cwd_base/block.html.twig for available variables and other info.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

{% set classes = classes|merge(block_add_classes|default([])) %}
{% set more_link = set_more_link|default('#') %}
{% set more_label = set_more_label|default('More') %}
{% set more_placement = set_more_placement|default('top') %}

{% block block_class_override %}
<div{{ attributes.addClass(classes) }}>
{% endblock %}
  {% if label %}
    {% if more_placement == 'top' %}
      <div class="constrain-480">
        <div class="header-with-button">
          <h2{{ title_attributes }}>{{ label }}</h2>
          <div class="buttons"><a href="{{ more_link }}" class="link-button"><span>{{ more_label }}</span><span class="zmdi zmdi-arrow-right"></span></a></div>
        </div>
      </div>
    {% else %}
      <div class="constrain-480">
        <h2{{ title_attributes }}>{{ label }}</h2>
      </div>
    {% endif %}
  {% endif %}
  {% block content %}
    {{ content }}
  {% endblock %}
  {% if more_placement == 'bottom' %}
    <div class="buttons"><a href="{{ more_link }}" class="link-button"><span>{{ more_label }}</span><span class="zmdi zmdi-arrow-right"></span></a></div>
  {% endif %}
</div>
