{#
/**
 * @file
 * Theme override to display spotlights view block.
 * LEGACY TEMPLATE, only keeping around in case it's used by older child sites -- spotlights view
 * no longer has a display called block_1.
 *
 * TO DO: Maybe we can remove this, right? We don't guarantee backwards-compatability with cwd_base, so it's just clutter, right...?
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix',
  ]
%}
<section{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes.addClass('block-title') }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
  <div class="view cwd-component cwd-card-grid three-card teaser">
    {{ content }}
  </div>
  {% endblock %}
</section>
